body {
   font-family: Arial, Verdana, Helvetica;
   background-image: url(images/mad/BGshadow-xorp_org.gif);
   background-repeat: repeat-x;
   font-size: 10pt;
   color: #636467; /* Match xorp.net */
  /* Centre the page in the browser window */
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* Container for all boxes */
#container {
  position: absolute;
  top: 12px;
  width: 760px;
  background: white;
}

/* TOP LEFT BOX */
#left {
  float: left;
  height: 90px;
  width: 174px;
  background: white;
}

/* LOGO alignment */
#left img {
    position: relative;
    top: 22%;
    left: 10pt;
}

#header {
   float: right;
   height: 90px;
   width: 568px; /* 376 + 18 + 174 */
   background: rgb(225,222,240);
}

.selected {
  color: rgb(176,25,124);
}

/* Link to the xorp.net site */
div#net {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Open Source Open Routing Platform */
div#open {
  position: absolute;
  top: 65px;
  right: 10px;
}

#navbar {
   clear: both;
   float: left;
   top: 100px;
   left: 0%;
   width: 174px;
   padding: 0 0 0 0;
   margin-top: 10px;
   font-size: 10pt;
}

/* Main text for the index page */
#main_index {
   float: left;
   top: 100px;
   left: 192px; /* 174 + 18 */
   width: 376px;
   background: white;
   margin-top: 10px;
   margin-left: 18px;
   margin-right: 18px;
   padding: 0 0 0 0;
}

/* Main text */
#main {
  float: left;
  top: 100px;
  left: 192px; /* 174 + 18 */
  width: 568px; /* 376 + 18 + 174 */
  background: white;
  margin-top: 10px;
  margin-left: 18px;
  padding: 0 0 0 0;
}

#sidebar {
   float: left;
   top: 100px;
   right: 0px;
   width: 174px;
   height: 100%;
   background: white;
   padding: 0em 0em 0em 0em;
   margin-top: 10px;
}

/* Copyright message */
#footer {
  clear: both;
  color: rgb(180,179,179);
  width: 760px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 30px;
  font-size: 9pt;
  text-align: center;
  background: rgb(209,209,209);
  background-image: url(images/mad/bottom.gif);
  background-position: center -30px;
  background-repeat: no-repeat;
}

a:link, a:visited { 
  color: rgb(176,25,124);
  text-decoration: none;
}

a:hover { 
  color: rgb(94,89,181);
}

#header a:link, #header a:visited, #navbar a:link, #navbar a:visited {
   font-weight: normal;
   font-size: 12px;
   text-decoration: none;
   color: black;
}

#header a:hover, #navbar a:hover {
   font-weight: normal;
   font-size: 12px;
/*   text-decoration: underline;*/
   color: rgb(176,25,124);
}

#header dd#selected a:link, #header dd#selected a:visited {
  color: rgb(176,25,124);
  font-weight: bold;
}

/* Top Menu */
#header dl  {
  position: relative;
  left: 18px;
  top: 65px;
  margin: 0px;
  padding: 0px;
}

#header dd {
  display: inline;
  margin: 0px;
  padding: 0px;
}

/* Fix the color of the separator of the top menu */
#header .separator {
  color: black;
}

#navbar dl {
   padding: 0;
   margin: 0 0 10px 0;
   background: rgb(225,222,240);
}

#navbar dt {
   padding: 6px 10px;
   font-size: 100%;
   font-weight: bold;
   margin: 0px;
   border-bottom: 1px solid #fff;
   color: white;
   background: rgb(94,89,181);
}

#navbar dd {
   font-size: 100%;
   margin: 0 0 0 0px;
   padding: 6px 10px;
   color: white;
}

#navbar dd#selected {
  background: rgb(176,25,124);
}

#navbar dd#selected a:link, #navbar dd#selected a:visited {
  color: white;
}

#sidebar h2 {
  color: white;
  margin-bottom: 0;
  background: rgb(180,179,179)
}

#sidebar p {
  color: black;
  margin-bottom: 10px;
  background: rgb(242,242,242)
}

h1 {
  color: white;
  background: rgb(176,25,124);
  font-style: normal;
  font-size: 10pt;
  text-decoration: none;
  line-height: 18px;
  padding-left: 18px;
  margin-top: 0px;
}

h2 {
  color: black;
  background: rgb(225,222,240);
  font-style: normal;
  font-size: 10pt;
  text-decoration: none;
  line-height: 18px;
  padding-left: 18px;
  margin-top: 0px;
}

/*h1, h2, */h3, h4, h5, h6 {
  color: black;
  background: rgb(242,242,242);
  font-style: normal;
  font-size: 9pt;
  text-decoration: none;
  line-height: 18px;
  padding-left: 18px;
  margin-top: 0px;
}

#main_index p, #sidebar p {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
}

/* Messages */
.message h2 {
  color: white;  
  margin-bottom: 0;
  background: rgb(255,138,102);
}

.message p { 
  background: rgb(254,239,234);
}

pre {
   font-size: 8pt;
   background: rgb(239,242,255);
   color: black;
   padding: 5px;
}

.odd{
   font-size: 10pt;
   background: white;
}

.even {
   font-size: 10pt;
   background: #e0e0e0;
}

.answer {
   font-size: large;
   font-weight: bold;
}

.answer p {
   font-size: 10pt;
   font-weight: normal;
}

.answer ul {
   font-size: 10pt;
   font-weight: normal;
}
