/* $XORP: xorp/rtrmgr/config.boot.sample,v 1.8 2004/06/08 01:00:11 atanu Exp $ */


interfaces {
    interface fxp0 {
	description: "control interface"
	/* default-system-config */
	vif fxp0 {
	    address 192.150.187.100 {
		prefix-length: 24
		broadcast: 192.150.187.255
	    }
	}
    }
}

fea {
    enable-unicast-forwarding4: true
    /* enable-unicast-forwarding6: true */
}

protocols {
    rip {
	interface fxp0 {
	    vif fxp0 {
		address 192.150.187.100 {
		    enabled: true
		}
	    }
	}
    }
}

/*
protocols {
    ospf {
	router-id: 192.150.187.20
	area 0.0.0.0 {
	    stub: false
	    interface xl0 {
		hello-interval: 5
	    }
	}
    }
}
*/

protocols {
    bgp {
	bgp-id: 192.150.187.100
	local-as: 65002

	peer xorp-c4000 {
	    local-ip: 192.150.187.100
	    as: 65000
	    holdtime: 90
	    next-hop: 192.150.187.100
	    enabled: true

	    enable-ipv4-multicast

            enable-ipv6-unicast
            enable-ipv6-multicast
	}

	network4 192.150.187.100/25 {
	    next-hop: 192.150.187.100
	    unicast: true
	    multicast: true
	}

	network6 20:20:20:20::/64 {
	    next-hop: 30:30:30:30:30:30:30:30
	    unicast: true
	    multicast: true
	}
    }
}

/*
 * See xorp/mibs/snmpdscripts/README on how to configure Net-SNMP in your host
 * before uncommenting the snmp section below.
 * Also check that the "bgp4_mib_1657.so" exists in the correct location.
 */

/* 
protocols {
    snmp {
	mib-module bgp4_mib_1657 {
	    abs-path: "/usr/local/xorp/mibs/bgp4_mib_1657.so"
	}
    }
}
*/
